package ${package}.core.entity;

import com.baomidou.mybatisplus.annotation.TableId;
import com.baomidou.mybatisplus.annotation.TableName;
import com.baomidou.mybatisplus.annotation.FieldFill;
import com.baomidou.mybatisplus.annotation.TableField;

#if(${hasBigDecimal})
import java.math.BigDecimal;
#end
import java.io.Serializable;
import java.util.Date;
import lombok.Data;
import lombok.NoArgsConstructor;
import lombok.AllArgsConstructor;

/**
 * ${comments}
 *
 * @author ${author}
 * @date ${datetime}
 */
@Data
@NoArgsConstructor
@AllArgsConstructor
@TableName("${tableName}")
public class ${className} implements Serializable {
	private static final long serialVersionUID = 1L;

#foreach ($column in $columns)
	/**
	 * $column.comments
	 */
#if($column.columnName == $pk.columnName)
	@TableId
#end
#if($column.columnName == "delete_flag")
	@TableField(value = "delete_flag", fill = FieldFill.INSERT)
#end
#if($column.columnName == "create_time")
	@TableField(value = "create_time", fill = FieldFill.INSERT)
#end
#if($column.columnName == "create_user")
	@TableField(value = "create_user", fill = FieldFill.INSERT)
#end
#if($column.columnName == "modify_time")
	@TableField(value = "modify_time", fill = FieldFill.INSERT_UPDATE)
#end
#if($column.columnName == "modify_user")
	@TableField(value = "modify_user", fill = FieldFill.INSERT_UPDATE)
#end
	private $column.attrType $column.attrname;
#end

}
