package ${package}.core.entity;

import com.baomidou.mybatisplus.annotation.TableId;
import com.baomidou.mybatisplus.annotation.TableName;
import com.baomidou.mybatisplus.annotation.FieldFill;
import com.baomidou.mybatisplus.annotation.TableField;
import com.fasterxml.jackson.annotation.JsonInclude;
import com.baomidou.mybatisplus.annotation.TableLogic;

#if(${hasBigDecimal})
import java.math.BigDecimal;
#end
import java.io.Serializable;
import java.util.Date;
import lombok.Data;
import lombok.NoArgsConstructor;
import lombok.AllArgsConstructor;

/**
 * ${comments}
 *
 * @author ${author}
 * @date ${datetime}
 */
@Data
@NoArgsConstructor
@AllArgsConstructor
@TableName("${tableName}")
@JsonInclude(JsonInclude.Include.NON_NULL)
public class ${className} implements Serializable {
	private static final long serialVersionUID = 1L;

#foreach ($column in $columns)
	/**
	 * $column.comments
	 */
#if($column.columnName == $pk.columnName)
	@TableId
#end
#if($column.columnName == "delete_flag")
	@TableField(value = "delete_flag", fill = FieldFill.INSERT)
	@TableLogic
#end
#if($column.columnName == "create_date")
	@TableField(value = "create_date", fill = FieldFill.INSERT)
#end
#if($column.columnName == "creater")
	@TableField(value = "creater", fill = FieldFill.INSERT)
#end
#if($column.columnName == "update_date")
	@TableField(value = "update_date", fill = FieldFill.INSERT_UPDATE)
#end
#if($column.columnName == "updater")
	@TableField(value = "updater", fill = FieldFill.INSERT_UPDATE)
#end
	private $column.attrType $column.attrname;
#end

}
