<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="${package}.core.mapper.${className}Mapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="${package}.core.dto.${className}Dto" id="BaseResultMap">
        #foreach($column in $columns)
            <result property="${column.attrname}" column="${column.columnName}"/>
        #end
</resultMap>
    <!-- 可根据自己的需求，是否要使用 -->
    <sql id="Base_Column_List">
    #foreach($column in $columns)
        #if($columns.size()==$velocityCount)
            ${column.columnName}
        #else
            ${column.columnName},
    #end
    #end
</sql>


</mapper>
