<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>欢迎页</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>
<div class="panel panel-default">
    <div class="panel-heading">基本信息</div>
    <div style="padding: 10px 0 20px 10px;">
        <h3>&nbsp;&nbsp;&nbsp;获取帮助</h3>
        <ul>
            <li>此工程基于人人社区-逆向工程搭建，如需查看源代码，可至以下仓库查看</li>
            <li>Git地址：<a href="https://gitee.com/renrenio/renren-generator" target="_blank">https://gitee.com/renrenio/renren-generator</a></li>
            <li>官方社区：<a href="http://www.renren.io/?s=index/Community" target="_blank">http://www.renren.io/?s=index/Community</a></li>
            <li>如需关注项目最新动态，请Watch、Star项目，同时也是对项目最好的支持</li>
        </ul>
        <h3>&nbsp;&nbsp;&nbsp;操作说明</h3>
        <ul>
            <li>1、左侧功能区选择“代码生成”功能页</li>
            <li>2、在右侧content页中选择相应的数据库表（可模糊搜素）</li>
            <li>3、勾选后，点击工具栏生成按钮，生成对应的code</li>
            <li>4、code默认生成com.bst.modules.community包下的，如果需要生成其他的module包，建议自行修改</li>
        </ul>
    </div>
</div>
</body>
</html>
